* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: white;
  margin: 0;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: blue;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

.navbar {
  background-color: #222;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.navbar li {
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 15px 20px;
  transition: background 0.3s ease;
  float: left;
}

.navbar a:hover {
  background-color: #444;
  border-radius: 5px;
}

.intro {
  background-color: blue;
  color: white;
  margin: 40px auto;
  padding: 30px;
  font-size: 1.2rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info {
  background-color: blue;
  color: white;
  border-radius: 12px;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.learn {
  color: black;
}

aside {
  width: 20%;
  float: left;
  padding: 10px;
}

section {
  width: 40%;
  float: left;
  padding: 10px;
}

article {
  width: 40%;
  float: left;
  padding: 10px;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.advert {
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder {
  background-color: blue;
  color: white;
  border-radius: 12px;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
}

.objectives {
  background-color: blue;
  color: white;
  border-radius: 12px;
  max-width: 800px;
  margin: 20px auto;
  padding: 25px;
}